<!-- <pre>Data Obtained is: {{ this.employeeData | json }}</pre> -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">Cazton</a>
</nav>
<div class="container mt-4">
  <h2>Product Data</h2>
  <table class="table table-dark table-hover table-striped">
    <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of this.productData">
        <td>{{e.name}}</td>
        <td>{{e.price}}</td>
      </tr>
    </tbody>
  </table>
</div>


